@charset "UTF-8";
/* line 1, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
* {
  box-sizing: border-box;
}

/* line 3, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* line 19, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

/* line 29, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
.attention {
  text-align: left;
}

/* line 33, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
header {
  text-align: center;
}

/* line 39, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
.img {
  font-style: italic;
  text-align: center;
  margin: 40px 0 0 0;
}

/* line 43, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
.img p {
  margin-bottom: 0;
}

/* line 46, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
.head {
  text-align: center;
  margin: 5% 0 2% 0;
}

/* line 50, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
p {
  margin-bottom: 2%;
  text-indent: 15px;
}

/* line 59, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
.quote_from_diffrent_book {
  text-align: right;
  font-style: italic;
}

/* line 64, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
.quote {
  border: 1px solid black;
  padding: 5px;
  font-style: italic;
  font-size: 15px;
  margin: 5% 0 7% 0;
}

/* line 72, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
.book {
  margin: 10% 10% 10% 10%;
  max-width: 1140px;
  margin: 0 auto;
}

/* line 81, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
table {
  padding: 20px;
  margin: 20px;
  font-size: 13px;
  border-spacing: 1px 15px solid grey;
  vertical-align: middle;
  border: 1px solid black;
}

/* line 90, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
td:first-child {
  width: 30%;
  padding: 10px;
}

/* line 94, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
.borderfortable {
  border: 1px solid grey;
  padding: 10px 15px;
}

/* line 99, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
td {
  white-space: normal;
  word-wrap: break-word;
}

/* line 104, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
th {
  border-bottom: 1px solid grey;
}

/* line 111, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
.col {
  text-align: center;
}

/* line 115, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
.quotefrombook {
  background-color: #e6e6e6;
}

/* line 119, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
h2 {
  font-size: 30px;
}

/* line 121, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
h3 {
  font-size: 22px;
}

/* line 124, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
h4 {
  font-size: 19px;
  font-weight: bold;
}

/* line 128, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
h5 {
  font-size: 16px;
}

/* line 131, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
.col {
  text-align: left;
}

/* line 135, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
.link_to_pspo {
  font-size: 20px;
  font-style: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* line 143, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
a:hover {
  color: blue;
}

@media (max-width: 1199px) {
  /* line 147, ../../../../../Users/anastasia/скрам-песочница/www.sp/sass/style.sass */
  .book {
    width: 960px;
  }
}

/*# sourceMappingURL=style.css.map */