@import "normalizez.scss"
@import "resets.scss"    
* 
    box-sizing: border-box

body
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
    line-height: 24px
    background-color: #fff  
a
    &:visited
        color: #70a0b0
    color: #0060a0
    &:hover
        color: #b03000

i
    font-style: italic

.bold
  font-weight: bold

b
    font-weight: bold
    

h1 
    font-size: 1.5em
    margin-block-start: 0.83em
    margin-block-end: 0.83em 

h2 
    display: block
    font-size: 1.5em
    margin-block-start: 0.83em
    margin-block-end: 0.83em
    margin-inline-start: 0px
    margin-inline-end: 0px
    font-weight: bold

h3 
    display: block
    font-size: 1.3em
    margin-block-start: 0.83em
    margin-block-end: 0.83em
    margin-inline-start: 0px
    margin-inline-end: 0px
    font-weight: bold
    line-height: 1.4em

h4
    display: block
    font-size: 1.2em
    margin-block-start: 1em
    margin-block-end: 1em
    margin-inline-start: 0px
    margin-inline-end: 0px
    font-weight: bold
    line-height: 1.4em



.attention 
    text-align: left
    

header 
    text-align: center

p
    font-size: 16px
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
    display: block
    margin-block-start: 1em
    margin-block-end: 1em
    margin-inline-start: 0px
    margin-inline-end: 0px
    


.img 
    font-style: italic
    text-align: center
    margin: 10px 0 30px 0
    p
        margin-bottom: 0
        
    
   
.head 
    text-align: center
    

.center 
    text-align: center
    

.quote_from_diffrent_book 
    text-align: right
    font-style: italic
    

.quote 
    border: 1px solid black
    padding: 5px
    font-style: italic
    margin: 10px 0 10px 0
    p
        margin: 0

            

    

.book 
    margin: 0 10% 
    max-width: 800px
    line-height: 22px
    p
        text-indent: none

    
    


table 
    padding: 20px 
    margin: 20px
    font-size: 15px
    border-spacing: 1px 15px solid grey
    vertical-align: middle
    border: 1px solid black
    border-collapse: collapse
    td
        white-space: normal
        word-wrap: break-word
        border: 1px solid black
        padding: 10px
    th
        border-bottom: 1px solid grey

        
    

    

.quotefrombook 
    background-color: #ece8e8
    margin: 5px 0 20px 
    padding: 0 15px 

h5 
    font-family: Arial, Helvetica, sans-serif
    font-size: 16px
    padding: 18px 0 16px
    font-weight: bold

    



.link_to_pspo 
    font-size: 16px
    font-style: bold
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    margin: 10px auto 200px
    

@media (max-width: 1199px)
    .book
        width: 960px
    

@media (max-width: 991px)
    .book
        width: 720px
    .img
        width: 300px

@media (max-width: 767px)
    .book
        width: 540px
    .img
        width: 300px
        &img
            width: 290px
            height: auto
  
@media (max-width: 575px)
    .book
        width: 100%
    .img
        width: 200px
        &img
            width: 290px
            height: auto


footer 
    margin: 10px 70px 200px
    max-width: 800px

.link
    align-items: left
    p
        font-size: 14px
        margin: 0

ol
    margin-bottom: 20px
    list-style: decimal
    li
        padding: auto
        margin-block-end: 1em

ul
    margin-bottom: 20px
    list-style: disc
    li
        margin-left: 10px
        margin-block-end: 1em
        li
            margin-left: 10px
            margin-block-end: 1em



